*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(45deg, rgb(255,255,255), rgb(224,224,224));
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliced-list{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 150px;
}

.sliced-list-item{
    color: transparent;
    display: flex;
    align-items: center;
}

.sliced-list-item input{
    width: 40px;
    height: 40px;
    margin-right: 50px;
    cursor: pointer;
}

.sliced-anim{
    position: relative;
}

.sliced-text{
    color: #222;
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    height: 50%;
    transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0,98); /* rapide début / fin mais ralenti au millieu de l'animation */
    will-change: transform; /* permet des transformations propres en prévenant le navigateur que la propriété va changer */
}

.sliced-text span{
    display: block;
}

.sliced-text + .sliced-text{  /* cible le second span */
    top: 49.9%;
}

.sliced-text + .sliced-text span{
    transform: translateY(-50%);
}

input:checked + .sliced-anim .sliced-text{
    transform: skewX(10deg);  /* décale les éléments sur l'axe X quand checkbox est validée pour effet barré */
}

.sliced-anim::before{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 49%;
    border-radius: 4px;
    background: #ff2c5a;
    transform: scale(0);  /* cache la ligne quand par défaut */
    transition: transform 0.4s ease;
    z-index: 100;
    will-change: transform;
}

input:checked + .sliced-anim::before{
    transform: scale(1); /* affiche la ligne quand checked */
}